osu = "" # https://osu.ppy.sh/p/api/
discord = "" 
yandex = "" # https://translate.yandex.com/developers/keys

# This needs to be an oauth token
# curl  -X POST https://id.twitch.tv/oauth2/token\?client_id\={}\&client_secret\={}\&grant_type=client_credentials
# replace the {} with the needed information
twitch = "" # https://dev.twitch.tv/console/
twitch_client_id = ""

trace_level = "trace" # error, warn, info, debug, trace
enable_tracing = false

webhook_notifications = false

[presence]
play_or_listen = "playing" # playing/listening
status = "the game of life."

[psql]
username = "postgres"
password = ""
database_name = "arcbot"
host = "localhost" # the server ip
port = "5432"

[sankaku]
idol_login = ""
idol_passhash = "" # https://forum.sankakucomplex.com/t/channel-api-for-discord-integration/2204/7

[lavalink]
host = "127.0.0.1"
port = 2333
password = "youshallnotpass"
