osu = "" # https://osu.ppy.sh/p/api/
discord = "" 
trace_level = "trace" # error, warn, info, debug, trace
enable_tracing = false

[psql]
username = "postgres"
password = ""
database_name = "arcbot"
host = "localhost" # the server ip
port = "5432"

[sankaku]
idol_login = ""
idol_passhash = "" # https://forum.sankakucomplex.com/t/channel-api-for-discord-integration/2204/7
